.service-container{
    background:white;
    padding:8px;
    border-radius:12px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.page-title{
    margin-bottom:20px;
}

/* button thêm */
.btn-add{
    display:inline-block;
    margin-bottom:15px;
    padding:8px 15px;
    background:#28a745;
    color:white;
    text-decoration:none;
    border-radius:6px;
}

/* search */
.search-form{
    margin-bottom:20px;
}

.search-input{
    padding:8px;
    width:250px;
    border-radius:6px;
    border:1px solid #ccc;
}

.btn-search{
    padding:8px 15px;
    background:#17a2b8;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.clear-search{
    margin-left:10px;
    color:red;
    text-decoration:none;
}

/* table */
.service-table{
    width:100%;
    border-collapse:collapse;
}

.service-table th,
.service-table td{
    padding:24px;
    border-bottom:1px solid #eee;
    text-align: center;
}

.service-table th{
    background:#f7f7f7;
}

/* action */
.action-buttons a{
    
    margin-right:5px;
    padding:7px 10px;
    border-radius:5px;
    text-decoration:none;
    color:white;
}

.btn-edit{
    background:#3498db;
}

.btn-delete{
    background:#e74c3c;
}